.orch-alert {
  padding: $alert-padding;
  margin: $alert-margin;
  border: $alert-border;
  display: flex;
  border-radius: $border-radius;
  color: $alert-font-color;
  line-height: $line-height-sm;
  height: auto;

  .orch-alert-content {
    width: 100%;
    .orch-alert-message {
      font-weight: $font-weight-bold;
      letter-spacing: $alert-message-spacing;
      font-size: $alert-message-font-size;
    }
    .orch-alert-description {
      margin-top: 10px;
    }
  }

  > i {
    width: $h5-font-size;
    height: $h5-font-size;
    font-size: $h5-font-size;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  // 隐藏
  &-hide {
    transform: scaleY(0);
    color: transparent;
    animation: $alert-hide-animation;
  }
}

.orch-alert-default {
  @include alert-type($primary);
}

.orch-alert-success {
  @include alert-type($success);
}

.orch-alert-warning {
  @include alert-type($orange);
}

.orch-alert-danger {
  @include alert-type($danger); 
}
